pkgbase = nitch
	pkgdesc = Incredibly fast system fetch written in Nim
	pkgver = 0.2.4
	pkgrel = 1
	url = https://github.com/ruxir-ig/nitch
	arch = x86_64
	license = MIT
	makedepends = nim
	makedepends = nimble
	source = nitch-0.2.4.tar.gz::https://github.com/ruxir-ig/nitch/archive/refs/tags/v0.2.4.tar.gz
	sha256sums = 8e386ba7cbf53cc1a5017d209e5b369cbd16df3f47f7e3cf1af9bb28d12aec44

pkgname = nitch
	pkgdesc = Incredibly fast system fetch written in Nim (Nerd Font icons)
	optdepends = nerd-fonts: for icon support

pkgname = nitch-nonerd
	pkgdesc = Incredibly fast system fetch written in Nim (no Nerd Font icons)
	provides = nitch
	conflicts = nitch
