pkgbase = nitch
	pkgdesc = Incredibly fast system fetch written in Nim
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/ruxir-ig/nitch
	arch = x86_64
	license = MIT
	makedepends = nim
	makedepends = nimble
	source = nitch-0.2.2.tar.gz::https://github.com/ruxir-ig/nitch/archive/refs/tags/v0.2.2.tar.gz
	sha256sums = SKIP

pkgname = nitch
	pkgdesc = Incredibly fast system fetch written in Nim (Nerd Font icons)
	optdepends = nerd-fonts: for icon support

pkgname = nitch-nonerd
	pkgdesc = Incredibly fast system fetch written in Nim (no Nerd Font icons)
	provides = nitch
	conflicts = nitch
